@font-face {
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/GolosText-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/GolosText-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/GolosText-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/GolosText-Bold.woff2') format('woff2');
}

/* @font-face {
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/GolosText-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/GolosText-Black.woff2') format('woff2');
} */
